<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type='text/css' rel='stylesheet' href='/css/styleDashboard.css'/>
  <link type='text/css' rel='stylesheet' href='/css/styleCourses.css'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">  
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
  <title>Document</title>
  <style>
      body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  </style>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    var purchasedName = '';
    async function onPay(amount){
      console.log(amount);
      console.log(purchasedName);
      var final_amount;
      var amount1 = document.getElementById("amount1").value;
      var amount2 = document.getElementById("amount2").value;
      var amount3 = document.getElementById("amount3").value;
      var amount4 = document.getElementById("amount4").value;
      if(amount==amount1 || amount==amount2 || amount==amount3 || amount==amount4){
        final_amount=amount
      }
      const form = document.createElement('form');
      var id="<%- details.id %>";
      var name="<%- details.name %>";
      var email="<%- details.email %>";
      var phone="<%- details.phone %>";
      console.log(id);

      if(id){
            form.method='POST';
            form.action='/course'

            const purpose = document.createElement('input');
						purpose.type = 'hidden';
						purpose.name = 'purpose';
						purpose.value ="Course Payment";
						form.appendChild(purpose);
     
            const amount = document.createElement('input');
						amount.type = 'hidden';
						amount.name = 'amount';
						amount.value =final_amount;
            form.appendChild(amount);

            const buyer_name = document.createElement('input');
						buyer_name.type = 'hidden';
						buyer_name.name = 'buyer_name';
						buyer_name.value ="<%- details.name %>";
            form.appendChild(buyer_name);
            
            const email = document.createElement('input');
						email.type = 'hidden';
						email.name = 'email';
						email.value ="<%- details.email %>";
            form.appendChild(email);

            const phone = document.createElement('input');
						phone.type = 'hidden';
						phone.name = 'phone';
						phone.value ="<%- details.phone %>";
            form.appendChild(phone);

            const user_id = document.createElement('input');
						user_id.type = 'hidden';
						user_id.name = 'user_id';
						user_id.value =id;
            form.appendChild(user_id);

            const course = document.createElement('input');
						course.type = 'hidden';
						course.name = 'course';
						course.value = purchasedName;
						form.appendChild(course);

            const redirect_url = document.createElement('input');
						redirect_url.type = 'hidden';
						redirect_url.name = 'redirect_url';
						redirect_url.value =`http://localhost:3000/callback?user_id=${id}`;
            form.appendChild(redirect_url);

            const webhook_url = document.createElement('input');
						webhook_url.type = 'hidden';
						webhook_url.name = 'webhook_url';
						webhook_url.value ='/webhook/';
            form.appendChild(webhook_url);

            console.log(form)

						document.body.appendChild(form);
						form.onsubmit = false;
            form.submit(); 
      }
    }
  </script>
</head>
<body>
  <%- include('partials/header') %>
  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <%- include('partials/sidebarUser') %>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container">
         <div class="row">

            <div class="col-12 col-lg-4 mobilmt">
                <div class="person">
                    <div class="personimg">
                        <img src="https://images.pexels.com/photos/3768126/pexels-photo-3768126.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    </div>
                    <div class="persondetail">
                        <p class="personunvan">MPSC</p>
                    </div>
                    <div class="personcontact">
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>10 Test</p>
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>GS + C.SAT</p>
                        <p class="personCV">
                            <a class="btn" id="myBtn5" >Buy</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mobilmt">
                <div class="person">
                    <div class="personimg">
                        <img src="https://images.pexels.com/photos/3768126/pexels-photo-3768126.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    </div>
                    <div class="persondetail">
                        <p class="personunvan">PSI-STI-ASO</p>
                    </div>
                    <div class="personcontact">
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>10 Test</p>
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>Pre Exam</p>
                        <p class="personCV">
                           <a class="btn" id="myBtn1" >Buy</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mobilmt">
                <div class="person">
                    <div class="personimg">
                        <img src="https://images.pexels.com/photos/3768126/pexels-photo-3768126.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    </div>
                    <div class="persondetail">
                        <p class="personunvan">Group C</p>
                    </div>
                    <div class="personcontact">
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>10 Test</p>
                        <p class="personCV">
                            <a  class="btn"  id="myBtn2">Buy</a>
                        </p>
                    </div>
                </div>
            </div>
          </div>
          <br>
          <div class="row">

            <div class="col-12 col-lg-4 mobilmt">
              <div class="person">
                  <div class="personimg">
                      <img src="https://images.pexels.com/photos/3768126/pexels-photo-3768126.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                  </div>
                  <div class="persondetail">
                      <p class="personunvan">Saralseva</p>
                  </div>
                  <div class="personcontact">
                      <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>10 Test</p>
                      <p class="personCV">
                          <a  class="btn"  id="myBtn6">Buy</a>
                      </p>
                  </div>
              </div>
          </div>
            <div class="col-12 col-lg-4 mobilmt">
                <div class="person">
                    <div class="personimg">
                        <img src="https://images.pexels.com/photos/3768126/pexels-photo-3768126.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    </div>
                    <div class="persondetail">
                        <p class="personunvan">Police</p>
                    </div>
                    <div class="personcontact">
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>10 Test</p>
                        <p class="personCV">
                            <a  class="btn"  id="myBtn3">Buy</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mobilmt">
                <div class="person">
                    <div class="personimg">
                        <img src="https://images.pexels.com/photos/3768126/pexels-photo-3768126.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    </div>
                    <div class="persondetail">
                        <p class="personunvan">Army</p>
                    </div>
                    <div class="personcontact">
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>10 Test</p>
                        <p class="personCV">
                            <a  class="btn"  id="myBtn4">Buy</a>
                        </p>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Select Your Pack</p>
          <div>
            <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Plan</th>
                    <th>Purchase</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>For 1 Month</td>
                    <td>
                      <input type="hidden" id="amount1" value="100" />
                      <button type="button" class="btn btn-outline-secondary"  onclick="onPay('100')">Buy</button>
                    </td>
                   
                  </tr>
                  <tr>
                    <td>For 3 Months</td>
                    <td>
                      <input type="hidden" id="amount2" value="200" />
                      <button type="button" class="btn btn-outline-secondary" onclick="onPay('200')">Buy</button></td>
                    
                  </tr>
                  <tr>
                    <td>For 6 Months</td>
                    <td>
                      <input type="hidden" id="amount3" value="300" />
                      <button type="button" class="btn btn-outline-secondary" onclick="onPay('300')">Buy</button></td>
                   
                  </tr>
                  <tr>
                    <td>For 12 Months</td>
                    <td>
                      <input type="hidden" id="amount4" value="400" />
                      <button type="button" class="btn btn-outline-secondary" onclick="onPay('400')">Buy</button></td>
                   
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      
      </div>
    </main>
    <!-- page-content" -->
  </div>

  <!-- page-wrapper -->
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
  <script type='text/javascript' src='/js/dashboard.js'></script>
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn5 = document.getElementById("myBtn5");
    var btn1 = document.getElementById("myBtn1");
    var btn2 = document.getElementById("myBtn2");
    var btn3 = document.getElementById("myBtn3");
    var btn4 = document.getElementById("myBtn4");
    var btn6 = document.getElementById("myBtn6");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn5.onclick = function() {
      modal.style.display = "block";
      purchasedName = 'mpsc';
    }
    btn1.onclick = function() {
      modal.style.display = "block";
      purchasedName = 'pti-aso-sti';
    }
    btn2.onclick = function() {
      modal.style.display = "block";
      purchasedName = 'groupc';
    }
    btn3.onclick = function() {
      modal.style.display = "block";
      purchasedName = 'police';
    }
    btn4.onclick = function() {
      modal.style.display = "block";
      purchasedName = 'army';
    }
    btn6.onclick = function() {
      modal.style.display = "block";
      purchasedName = 'saralseva';
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
    
</body>
</html>