<html lang="en">

<head>
    <meta charset="UTF-8">
    <link type='text/css' rel='stylesheet' href='/css/styleDashboard.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
    <title>Document</title>
</head>

<body>
    <%- include('partials/header') %>
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <%- include('partials/sidebarAdmin') %>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container">
                <div class="container mt-5">
                    <h1 style="color: bisque;">Showing quizzes</h1>
                    <h2>
                        <%=courseQuiz.courseName%>
                    </h2>
                    <% courseQuiz.forEach(function(quiz){ %>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card">
                                <div class="card-body">


                                   
    
                                    
                                    <h5  class="card-title"> <%=quiz.quizName%></h5>
                                    <p class="card-text">Total questions: <%=quiz.questions.length%></p>
                                    <p class="card-text"><button onclick=deleteQuiz('<%= quiz._id %>')>Delete Quiz</button></p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <%})%>
                </div>

            </div>

        </main>
        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->
    <script>
        function deleteQuiz(id){
            console.log(id);
            const form = document.createElement('form');
			form.method = 'POST';
            form.action = '/deleteQuiz';
            
            const quiz = document.createElement('input');
			quiz.type = 'hidden';
			quiz.name = 'quiz';
			quiz.value = id;
            form.appendChild(quiz);
            
            document.body.appendChild(form);
            form.onsubmit = false;
			form.submit();
        }
    </script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script type='text/javascript' src='/js/dashboard.js'></script>
</body>

</html>